.toc {
    position: fixed;
    top: 1em;
    left: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .75em;
}

@media (max-width: 1320px) {
    .toc { display: none }
}

.item {
    color: grey;
    text-decoration: none;
}

.item:hover {
    color: #555;
}

.active {
    color: #333;
}