.rev {
  color: grey;
  display: inline-block;
  width: 2em;
  text-align: right;
  margin-right: 0.25em;
}

.history li {
  list-style: none;
  margin-left: 4.5em;
}

.history {
  padding: 0;
}

.datestamp {
  color: grey;
  font-style: italic;
}
