.home {
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}

.main {
  max-width: 64em;
  margin: auto;
  color: #333;
}

.updated {
  margin-left: 6.75em;
  font-style: italic;
  color: grey;
}
